/*stili generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 60px;
}

/*header nav*/
header nav {
    display: flex;

    /*debug*/
    min-height: 100px;
    background-color: pink;
    border-bottom: 1px solid black;

}

header .nav-sinistra, .nav-destra {
    width: 50%;
    
    /*debug*/
    background-color: red;
    border: 1px solid black;
}

/*jumbotron*/
header section {
    /*debug*/
    min-height: 800px;
    background-color: lightblue;
}

.jumbotron {
    display: flex;
    width: 70%;
    margin: auto;

    /*debug*/
    background-color: pink;
}

.jumbotron .paragrafo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;

    /*debug*/
    background-color: blanchedalmond;
    border: 1px solid black;
    min-height: 500px;
}

.jumbotron .immagine {
    margin-left: 5%;
    width: 70%;

    /*debug*/
    background-color: aquamarine;
    border: 1px solid black;
    min-height: 500px;
}

h1 {
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 10px;
}