/*stili generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    height: calc(100vh - 60px);
}

/*stili comuni*/
h1 {
    font-size: 60px;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 35px 0;
}

h2 {
    font-size: 30px;
    padding: 10% 0 5%;
}

h3 {
    font-size: 22px;
    margin: 60px 10px 10px 0;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.bottone {
    text-decoration: none;
    background-color: rgb(34, 82, 241);
    text-align: center;
    margin:0 150px 50px 0;
    padding: 10px;
}

[target="white"] {
    color: white;
}

[target="marrone"] {
    color: rgb(75, 44, 14);
}

[target="grey"] {
    color: grey;
    cursor: pointer;
}

[target="dimensioni"] {
    width: 100%;
}

[target="freccia"] {
    font-size: 40px;
    color: black;
    padding-top: 40px;
}

[target="bottone-nav"] {
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
}

[target="bottone-sez-2"] {
    color: black;
    background-color: white;
    border: 1px solid black;
}

[target="font-awesome"] {
    font-size: 10px;
    padding-left: 37%;
}

[target="loghi-team"] {
    width: 50%;
    filter: invert(1);
}

[target="logo-team-centro"] {
    width: 40%;
    margin: 10%;
}

/*header nav*/
header nav {
    width: 100%;
    position: fixed;
    z-index: 500;
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(194, 190, 190);
    min-height: 60px;
}

header .nav-sinistra, .nav-destra {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
}

header li, footer li {
    cursor: pointer;
}

.nav-destra ul {
    justify-content: end;
}

.nav-sinistra li {
    margin: 1.5% 3% 0.5% 2%;
}

.nav-destra li {
    margin: 1.5% 2% 1.5% 3%;
}

/*jumbotron*/
header section {
    padding-top: 100px;
    background-color: lightblue;

    /*bonus*/
    max-height: 720px;
}

.jumbotron {
    display: flex;
    width: 70%;
    margin: auto;
}

.jumbotron .paragrafo {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 30%;
}

.jumbotron .immagine {
    margin-left: 5%;
    width: 65%;
}

.jumbotron p {
    padding-bottom: 35px;
}

/*main*/
/*prima sezione*/
main section {
    width: 60%;
    margin: 5% auto;
}

main section input {
    margin-bottom: 2.5%;
    margin-right: 5px;
}

#spaziatura {
    margin-left: 10%;
}

main section .row {
    display: flex;
    justify-content: space-between;
}

.sezione-acquisti .row .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc((100% / 3) - 30px);
    min-height: 1000px;
    border: 1px solid rgb(167, 165, 165);
}

[target="piano-business"] {
    text-align: center;
    border-bottom: 1px solid rgb(167, 165, 165);
    padding: 10px 0;
}

.sezione-acquisti .col .container {
    margin: 35px;
}

.sezione-acquisti .container {
    display: flex;
    flex-direction: column;
}

.sezione-acquisti .container span {
    line-height: 200%;
}

.sezione-acquisti .container ul {
    padding-top: 20px;
}

.sezione-acquisti .container li{
    padding-bottom: 20px;
}

#user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
    margin-right: 5px;
}

#folder::before {
    font-family: "Font Awesome 5 Free";
    content: "\f07b";
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
}

#share::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1e0";
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
}

#bottone-colonne-centrali {
    margin: 50px 0;
    padding: 0 30px;
    
}

.container .bordo{
    border: 1px solid rgb(167, 165, 165);
    margin: 40px 200px 40px 0;
}

#checkmark::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px;
    color: blue;
}

.container-extra {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    border: 1px solid rgb(167, 165, 165);
    min-height: 300px;
}

.row-team {
    display: flex;
    margin: 25px;
}

.col-team {
    width: 75%;
}

.col-team h4{
    margin-bottom: 30px;
}

.col-team p {
    margin-bottom: 60px;
}

.col-team-bottone {
    width: 25%; 
}

.col-team-bottone a {
    margin: 25px;
}

/*seconda sezione*/

.container-dropbox {
    display: flex;
    justify-content: space-between;
}

.container-dropbox .immagine {
    width: calc(60% - 5%);
}

.container-dropbox .testo {
    width: 40%;
}

.container-dropbox .testo p {
    margin: 20px 120px 50px 0;
}

/*terza sezione*/

.container-business .row .col {
    margin-bottom: 3%;
}

/*quarta sezione*/

.sez-4 {
    width: 100%;
    margin: 0;
    background-color: lightblue;
}

.row-4 {
    display: flex;
    margin: 0;
    width: 100%;
}

.container-team-sx, .container-team-centro, .container-team-dx {
    display: flex;
    width: calc(100% / 3);
    min-height: 600px;

}

.container-team-sx {
    justify-content: center;
    align-items: center;
}

.sez-4-container-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-bottom: 2.5%;
}

[target="bottone-sez-4"] {
    background-color: white;
    color: black;
    margin-top: 70px;
}

/*quadrati*/

.container-team-sx, .container-team-dx {
    flex-wrap: wrap;
}

.container-team-centro {
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 165, 165);
}

.container-team-centro .bordo {
    margin: 0 450px 50px 60px ;
    border-top: 1px solid black;
}

.container-team-centro .testo {
    margin: 0 60px 50px 60px;
}

[target="quadratini"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
}

.qdt-verde, .qdt-marrone, .qdt-celeste, .qdt-arancione, .qdt-rosso, .qdt-celeste-chiaro, .qdt-blu, .qdt-giallo {
    cursor: pointer;
}

.qdt-verde {
    background-color: green;
}

.qdt-marrone {
    background-color: brown;
}

.qdt-celeste {
    background-color: lightskyblue;
}

.qdt-arancione {
    background-color: orange;
}

.qdt-rosso {
    background-color: red;
}

.qdt-celeste-chiaro {
    background-color: lightblue;
}

.qdt-blu {
    background-color: blue;
}

.qdt-giallo {
    background-color: yellow;
}

/*quinta sezione*/
.sez-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
}

.sez-5 span {
    width: 95%;
    padding: 30px 0;
}

/*footer*/
footer {
    background-color: black;
}

.nav-row {
    padding: 50px 0;
    display: flex;
    width: 70%;
    margin: auto;
}

.nav-col {
    width: calc(100% / 5);
    flex-direction: column;
    min-height: 200px;
}

.nav-row ul h3 {
    margin-bottom: 8%;
}

.nav-row li {
    margin: 5% 0;
}

.lingua {
    padding: 50px 0;
    width: 10%;
    margin: 0 75% 0 15%;
    border-top: 1px solid grey;
}




/*bonus*/

/*hover liste e pulsanti*/
header nav li:hover {
    border-bottom: 1px solid black;
}

.bottone:hover {
    filter: opacity(0.8);
    box-shadow: 0px 0px 10px 1px black;
}

/*hover quadrati colorati team*/
.qdt-verde:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(58, 230, 58);
}

.qdt-marrone:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(185, 93, 93);
}

.qdt-celeste:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(205, 242, 255);
}

.qdt-arancione:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(218, 166, 70);
}

.qdt-rosso:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(250, 74, 74);
}

.qdt-celeste-chiaro:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(217, 231, 236);
}

.qdt-blu:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(30, 83, 255);
}

.qdt-giallo:hover {
    transition: all 1s ease-out;
    border: 20px solid rgb(236, 236, 94);
}

/*domande*/
.domanda {
    position: relative;
    cursor: pointer;
}

.risposta-hover {
    position: absolute;
    display:none
}

.domanda:active .risposta-hover {
    display: block;
}